body {
    background-color: #EEF1FF;
    text-align: center;
 }
 /* 
    zet ook de tabellen in het midden van het scherm 
    ToDo klopt nog niet helemaal staat niet netjes onder elkaar
*/
 table {
    /* margin-left: auto;
     margin-right: auto;  */
     width:70%; 
     margin-left:15%; 
     margin-right:15%;  
 }
 hr {
   
/*    
    alles zijn boxes in html om een box smaller te maken kun je de breete op 10% zetten
*/
     /* width:10%; margin-left: 45%;margin-right: 45%; */
    width:10%;
/* 
    de margine is de buitenste rand van de afstand tussen 2 elementen (2 boxen!!) 
    dan komt de border dit is de rand 
    dan is er padding , dit is de tussen ruimte tussen de border (zichtbare rand als je die wilt en de text)
    en dan heb je de content zie link:
    https://www.educba.com/css-padding/
*/

    margin-top: 0px; margin-bottom: 0px;
    border-style: none;
    border-top: dotted;

    border-color: grey;
    border-width: 10px;
}

h1 {
    color: #66BFBF;
}

h2 {
    color: #58a1a1;
}